<div class="card mb-3 text-bg-light">
  <div class="card-body text-center">
    <h3 class="card-title">Shop</h3>
    <p class="card-text">Products for shopping</p>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 justify-content-center g-2 ms-2 me-3">
    <!-- <div class="col">
      <div class="card custom-card-size">
        <img
          src="https://i.ibb.co/Gx0TdXY/2-815x1052.jpg"
          class="card-img-top"
          alt="Product Image 1"
        />
        <div class="card-body">
          <h5 class="card-title">Card title 1</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> -->
    @for (product of products; track $index) {
    <div class="col">
      <div class="card">
        <div class="position-relative">
          <span class="badge bg-danger position-absolute ms-2 mt-2"
            >{{product.collectionId.title}}</span
          >
          <img
            src="https://i.ibb.co/Gx0TdXY/2-815x1052.jpg"
            class="card-img-top"
            alt="${{product?.title}}"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{product?.title}}</h5>
          <p class="card-text"><del>$48.00</del>
            <!-- <strong>{{ product?.priceToDisplay | currency }}</strong> -->
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="btn"><i class="fa fa-cart-plus"></i></span>
            <span class="btn"
              ><i class="fa fa-heart" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  }
    <div class="col">
      <div class="card">
        <div class="position-relative">
          <span class="badge bg-success position-absolute ms-2 mt-2"
            >Sale!</span
          >
          <img
            src="https://i.ibb.co/4KtLVnr/1-564x753.jpg"
            class="card-img-top"
            alt="Donna gold frame glasses"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Donna gold frame glasses</h5>
          <p class="card-text"><del>$48.00</del> <strong>$40.00</strong></p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="btn"><i class="fa fa-cart-plus"></i></span>
            <span class="btn"
              ><i class="fa fa-heart" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="position-relative">
          <span class="badge bg-success position-absolute ms-2 mt-2"
            >Sale!</span
          >
          <img
            src="https://i.ibb.co/4KtLVnr/1-564x753.jpg"
            class="card-img-top"
            alt="Donna gold frame glasses"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Donna gold frame glasses</h5>
          <p class="card-text"><del>$48.00</del> <strong>$40.00</strong></p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="btn"><i class="fa fa-cart-plus"></i></span>
            <span class="btn"
              ><i class="fa fa-heart" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="position-relative">
          <span class="badge bg-success position-absolute ms-2 mt-2"
            >Sale!</span
          >
          <img
            src="https://i.ibb.co/4KtLVnr/1-564x753.jpg"
            class="card-img-top"
            alt="Donna gold frame glasses"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Donna gold frame glasses</h5>
          <p class="card-text"><del>$48.00</del> <strong>$40.00</strong></p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="btn"><i class="fa fa-cart-plus"></i></span>
            <span class="btn"
              ><i class="fa fa-heart" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="position-relative">
          <span class="badge bg-success position-absolute ms-2 mt-2"
            >Sale!</span
          >
          <img
            src="https://i.ibb.co/4KtLVnr/1-564x753.jpg"
            class="card-img-top"
            alt="Donna gold frame glasses"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Donna gold frame glasses</h5>
          <p class="card-text"><del>$48.00</del> <strong>$40.00</strong></p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="btn"><i class="fa fa-cart-plus"></i></span>
            <span class="btn"
              ><i class="fa fa-heart" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="position-relative">
          <span class="badge bg-success position-absolute ms-2 mt-2"
            >Sale!</span
          >
          <img
            src="https://i.ibb.co/4KtLVnr/1-564x753.jpg"
            class="card-img-top"
            alt="Donna gold frame glasses"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Donna gold frame glasses</h5>
          <p class="card-text"><del>$48.00</del> <strong>$40.00</strong></p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="btn"><i class="fa fa-cart-plus"></i></span>
            <span class="btn"
              ><i class="fa fa-heart" aria-hidden="true"></i
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row"> -->
    <button type="button" class="btn">More <i class="fa fa-angle-double-down" aria-hidden="true"></i></button>
  <!-- </div> -->
</div>
