/* Center the text within the card */
.card.mb-3 {
  text-align: center;
}

/* Center the card body content */
.card.mb-3 .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Reduce the bottom margin of each card */
.card {
  margin-bottom: 0.5rem; /* Adjust the margin as needed */
}

/* Adjust the row margins to align with card margins */
.row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* Add padding to columns */
.col {
  padding-left: 0.5rem; /* Adjust the padding to reduce space */
  padding-right: 0.1rem;
}

/* Define the custom size for cards */
.custom-card-size {
  width: 17rem; /* Adjust the width as needed */
  height: 30rem;
  margin: auto;
}
